/* A JOYAN SERRAO PRODUCTION */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* delete later */
main {
  max-width: 1100px;
  margin: 0 auto;
}
section {
  margin-top: 2rem;
}

.icon-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* main css */
html {
  font-size: 10px;
  /* position: relative; */
}
body {
  font-size: 1.6rem;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

/* Utility */

:root {
  --primary: #55b17e;
  --green: #579c57;
  --yellow: #caca6c;
  --red: #bd3d3d;
  --default: #cab8b8;
  --active: #319931;
  --inactive: #808080;
  --blue: #5858c4;
  --skyblue: #7e7ee4;
  --secondary: #7e7171;
  --error-font: #611a15;
  --error-background: #e0aea8;
  --error-icon: #f44336;
  --success-font: #1e4620;
  --success-background: #bde6bd;
  --success-icon: #4caf50;
  --warning-background: #ebd6ba;
  --warning-color: #663c00;
  --warning-icon: #ff9800;
  --info-color: #0d3c61;
  --info-background: #b9ddf8;
  --info-icon: #2196f3;
  --border-light: #cecedd;
  --card-badge: #ddb467;
}

.link {
  text-decoration: none;
  color: #000;
}

.border {
  border: 1px solid var(--border-light);
}

.shadow {
  box-shadow: 3px 3px 10px #777;
}

/* Avatar */

.avatar-container {
  display: inline-block;
  position: relative;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.avatar--s {
  width: 5rem;
  height: 5rem;
}

.avatar--m {
  width: 10rem;
  height: 10rem;
}

.avatar--l {
  width: 15rem;
  height: 15rem;
}

/* Alert */

.alert {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  padding: 1.2rem;
  border-radius: 1rem;
}

.alert--messege {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.alert--messege p {
  padding-left: 0.5rem;
}

.alert-warning {
  background-color: var(--warning-background);
  color: var(--warning-color);
}

.alert-error {
  background-color: var(--error-background);
  color: var(--error-font);
}
.alert-success {
  background-color: var(--success-background);
  color: var(--success-font);
}

.alert-info {
  background-color: var(--info-background);
  color: var(--info-color);
}

/* Alert Icons */
.alert ion-icon {
  font-size: 2.5rem;
  cursor: pointer;
}

.alert-warning ion-icon {
  color: var(--warning-icon);
}

.alert-error ion-icon {
  color: var(--error-icon);
}

.alert-success ion-icon {
  color: var(--success-icon);
}
.alert-info ion-icons {
  color: var(--info-icon);
}

/* Badge */

.badge {
  position: absolute;
}

.badge--round {
  border-radius: 50%;

  height: 15px;
  width: 15px;
}

.badge-border {
  border: 2px solid white;
}

.badge--bottom {
  top: 35px;
  left: 35px;
}

.badge-active {
  background-color: var(--active);
}

.badge-inactive {
  background-color: var(--inactive);
}

/* Icon */

.notification {
  position: relative;
}

.notification-icon {
  font-size: 4rem;
}

.badge--top {
  left: 2.3rem;
}

.badge-primary {
  color: #fff;
  background-color: var(--secondary);
}

.badge-primary p {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Buttons */

.btn {
  padding: 0.7rem 1.3rem;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
}

.btn--round {
  border-radius: 8rem;
}

/* button styles */

.btn-primary {
  background-color: var(--primary);
  color: #fff;
}

.btn-secondary {
  background-color: var(--secondary);
  color: #fff;
}

.btn-default {
  background-color: var(--default);
}

.btn-outline-default {
  background-color: #fff;
  color: #000;
  border: 1px solid var(--default);
}

.btn-outline-primary {
  background-color: #fff;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-outline-secondary {
  background-color: #fff;
  color: var(--secondary);
  border: 1.5px solid var(--secondary);
}

/* Button colors */
.btn-red {
  background-color: var(--red);
  color: #fff;
}

.btn-yellow {
  background-color: var(--yellow);
  color: #fff;
}

.btn-green {
  background-color: var(--green);
  color: #fff;
}

.btn-blue {
  background-color: var(--skyblue);
  color: #fff;
}

/* Button effects */
.btn-hover:hover {
  opacity: 0.5;
}

.btn-scale:hover {
  transform: scale(1.1);
}

/* button with icons */

.btn--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}
.btn--icon--back {
  flex-direction: row-reverse;
}

.btn--icon--front {
  flex: row;
}

.btn div {
  padding: 0 1rem;
}

.btn ion-icon {
  font-size: 2rem;
}

/* Floating button */
.btnfloat {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
}

.btnfloat ion-icon {
  font-size: 3rem;
}

/* Cards */
.card {
  display: flex;
  width: 100%;
}

.card--verticle {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card--horizontal {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
}

.card--body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
}

.card--s {
  max-width: 20rem;
}

.card--m {
  max-width: 27rem;
  height: auto;
}

.card--l {
  width: 32rem;
}

.card--m .card--image {
  position: relative;
}

.card--m .card--image > img {
  width: 100%;
  /* max-width: 27rem; */
  height: auto;
  display: block;
}

.card--horizontal .card--image > img {
  width: 25rem;
  display: block;
}

.card--body {
  padding: 1.5rem;
}

.card--title {
  font-size: 2rem;
}

.card .card--image--s > img {
  height: 24rem;
  width: 20rem;
}

.card--body > * {
  margin: 0.3rem 0;
}

.card--text {
  font-size: 1.5rem;
}

.card--button {
  width: 100%;
  max-width: 50%;
  padding: 0.8rem;
  align-self: center;
}

/* badges on cards */

.badge--square {
  color: #fff;
  border-radius: 0.8rem;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.4rem 1.5rem;
  background-color: var(--card-badge);
}

.badge-left {
  position: absolute;
  top: 4rem;
}

/* card dismiss */

.card--dismiss {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}

/* card overlay */

.card--overlay {
  opacity: 0.3;
}

.card--overlay--text {
  position: absolute;
  top: 30%;
  left: 30%;
  color: #000;
  font-size: 2rem;
}

/* Responsive Images */

.image {
  width: 100%;
}

.image--l {
  max-width: 70rem;
}

.image--m {
  max-width: 50rem;
}

.image--s {
  max-width: 40rem;
}

/* Input Fields */

.input {
  width: 100%;
  max-width: 70%;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 8px;
  outline: 0;
  transition: 0.2s;
}

.input-style {
  border: 1px solid var(--primary);
}

.input-style:focus {
  border: 2px solid var(--primary);
}

.error-style {
  border: 2px solid var(--red);
}

.error-text {
  color: var(--red);
  font-weight: bold;
  padding-left: 0.5rem;
}
